.fx-show
  opacity 0
  transition all 250ms ease

.fx-show.fx-show-active
  opacity 1

.fx-show.fx-500ms, .fx-show.fx-500ms .fx-show
  transition-duration 500ms

.fx-show.fx-500ms, .fx-show.fx-2000ms .fx-show
  transition-duration 2000ms
