.text-large
  font-size 48px
.text-center
  text-align center

.block-25h
  height 25vh
.block-50h
  height 50vh
.block-200h
  height 200vh

.mar-top-5
  margin-top 50px

.content-center
  display flex
  justify-content center
  align-items center

.template
  display none