.slide-list
  position relative
  z-index 100

.slide-item
  display grid
  justify-content center
  align-items center

  width 100vw
  min-height 100vh

slide-name
  display none

.slide-content
  display flex
  flex-direction column
  justify-content center
  align-items center


@media (max-width 768px)
  .slide-item
    padding 20px