div.slide-list
  div.slide-item#Intro
    slide-name
      text(key="Intro")

    div.slide-content.text-center.fx-show
      div.text-large.fx-show(fx-show-up)
        small
          text(key="Welcome")

        small.fx-show(fx-show-up)
          text(key="to")

        br

        span.fx-show(fx-show-up="2")
          text(key="ProjectTitle")

      div.text-large.mar-top-5.fx-show(fx-show-up)
        span
          small.fx-show
            text(key="Project")

          small.fx-show(fx-show-up)

          span &amp;

          small.fx-show(fx-show-up)
            text(key="Portfolio")

          br

          span.fx-show(fx-show-up="2")
            button(type="button" goto-slide="About")
              text(key="AuthorNickname")

  div.slide-item#About
    slide-name
      text(key="About")

    div.slide-content
      div.text-large.fx-show
        span.fx-show(fx-show-up)
          text(key="About")

      div.fx-show
        span.fx-show(fx-show-up)
          span.fx-show(fx-show-up)
            text(key="My")

          span.fx-show(fx-show-up)
            text(key="name")

          span.fx-show(fx-show-up)
            text(key="is")

          span.fx-show(fx-show-up)
            text(key="Maxim")

          span.fx-show(fx-show-up)
            text(key="Radul").

  div.slide-item
    slide-name
      span
        text(key="Hobby")

        span &amp;

        text(key="Interests")

    div.slide-content
      div.text-large.fx-show
        span.fx-show(fx-show-up)
          text(key="Hobby")

        span.fx-show(fx-show-up)

        span.fx-show(fx-show-up)
          text(key="Interests")

  div.slide-item
    slide-name
      span
        text(key="Plans")

          span &amp;

          text(key="Objectives")

    div.slide-content
      div.text-large.fx-show
        span.fx-show(fx-show-up)
          text(key="Plans")

        span.fx-show(fx-show-up)

        span.fx-show(fx-show-up)
          text(key="Objectives")

  div.slide-item
    slide-name
      text(key="Projects")

    div.slide-content
      div.text-large.fx-show
        span.fx-show(fx-show-up)
          text(key="Projects")